// Set the primary color for the theme
// $blue: #61dbfb;
$blue: #ff8100;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

.bc-1 {
  border-color: #ff8100 !important;
}

[data-bs-theme=light] {
  .icon-color {
    path {
      fill: #000; 
    }
    &:has(g rect) {
      g {
        rect {
          fill: #000;
        }
        path {
          fill: #fff;
        }
      }
    }
  }
}

[data-bs-theme=dark] {
  .icon-color {
    path {
      fill: #fff; 
    }
    &:has(g rect) {
      g {
        rect {
          fill: #fff;
        }
        path {
          fill: #000;
        }
      }
    }
  }
}
